<div class="corgi-photo">
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar class="avatar"></div>
            <mat-card-title>{{record.author}}</mat-card-title>
            <mat-card-subtitle>{{record.created}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="/assets/corgi-1.jpg" alt="Photo of a Corgi!">
        <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>
                <mat-icon matBadge="45">favorite</mat-icon>
                Like
            </button>
        </mat-card-actions>
    </mat-card>
</div>