<div class="corgi-photo">
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar class="avatar"></div>
            <mat-card-title>{{record.author}}</mat-card-title>
            <mat-card-subtitle>{{record.created}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="imageUrl">
        <mat-progress-bar mode="indeterminate" *ngIf="inProgress"></mat-progress-bar>
        <mat-card-content>
            {{record.title}}
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>
                <mat-icon matBadge="45">favorite</mat-icon>
                Like
            </button>
        </mat-card-actions>
    </mat-card>
</div>